.editor {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    margin-bottom: 5px;
}

p {
    color: black;
}

.button-span {
    width: 100%;
}

.post-box {
    float: right;
    margin: 5px 20px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}

.title-box {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 35px;
    margin-right: 20px;
}

.table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

tr {
    border: 1px solid black;
}

.editor_card_button {
    width: 70px;
    height: 40px;
    margin-bottom: 10px;
}

.editor_card_button:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}