    .popup {
        background-color: black;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: white;
    }
    
    .close {
        display: inline-block;
        color: white;
        width: 60px;
        height: 60px;
        float: right;
        /*background: linear-gradient(45deg, #00000000 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), linear-gradient(135deg, red 0%, red 43%, #fff 45%, #fff 55%, red 57%, red 100%);
    border: 7px solid red;
    */
        cursor: pointer;
        text-align: center;
    }
    
    .close p {
        color: white;
        font-weight: 160;
    }
    
    .cardBox {
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        width: 75%;
        height: 75%;
        justify-content: space-around;
        align-items: center;
    }
    
    .messages {
        border: 1px white solid;
        width: 60vw;
        height: 110%;
        margin-top: 20%;
        overflow-y: scroll;
    }
    
    .right-card {
        border: 1px white solid;
        width: 40%;
        margin-top: 20%;
        height: 110%;
        background-color: #242526;
    }
    
    .editor p {
        color: black;
    }
    
    .messages p {
        color: white;
    }
    
    .infoBox {
        height: 23%
    }
    
    .comment-editor {
        height: 24%;
        overflow-y: scroll;
    }
    
    .comment-editor {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
    
    .comment-editor::-webkit-scrollbar {
        display: none;
    }
    
    .button-list {
        height: 7%;
    }
    
    .popup-buttons {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    
    .popup-buttons li {
        color: white;
        list-style: none;
    }
    
    .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    .cardlist {
        overflow-y: scroll;
        height: 46.4%;
    }
    
    .messages_text {
        word-wrap: anywhere;
    }
    
    #grade {
        width: 100px;
    }
    
    .username {
        color: white;
        display: inline;
        vertical-align: super;
    }
    
    .popup-title {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    #post-date {
        text-align: right;
        color: white;
        margin-right: 10px;
    }
    
    .close:hover {
        background-color: rgba(0, 0, 0, 0, 0.6);
    }
    
    .messages {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
    
    .messages::-webkit-scrollbar {
        display: none;
    }
    /* media queries */
    
    @media screen and (max-width: 700px) {
        .cardBox {
            margin: auto;
            display: block;
            /* flex-flow: column nowrap; */
            width: 75%;
            /* height: 75%; */
            height: 100vh;
            overflow-y: scroll;
            /* justify-content: space-around; */
            /* align-items: center; */
        }
        .messages_text {
            border: 1px white solid;
            height: auto;
        }
        .cardBox {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
        }
        .cardBox::-webkit-scrollbar {
            display: none;
        }
        .right-card {
            margin-top: 0;
            display: block;
            /* display: none; */
            width: 100%;
            height: 75vh;
        }
    }