.messages-box {
    height: 100%;
}

.message-left {
    color: tomato;
    text-align: left;
    margin-left: 5px;
}

.message-right {
    margin-right: 0;
    float: right;
    clear: both;
    text-align: left;
    margin-right: 5px;
}

.bubble {
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 100px;
    background: black;
    border-radius: 40px;
    padding: 24px;
    color: white;
    border: 1px black solid;
    display: block;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid black;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
    margin-bottom: 10px;
}