.profile-card {
    border: 1px black solid;
    width: 100%;
    height: 50vh;
    min-height: 50vh;
    max-height: 110vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    max-height: 50%;
}

.profile_list {
    list-style: none;
}

.profile-cards {
    padding: 100px;
    border: 1px black solid;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
    background-color: black;
}

.profile_list {
    display: flex;
    flex-flow: column nowrap;
}

#picture-parent {
    position: relative;
}

#picture-parent:hover #user-photo {
    display: block;
}

#user-photo {
    position: absolute;
    top: -660%;
    left: 35%;
    display: none;
}

.rightside {
    max-height: 50vh;
    background-color: white;
}

@media screen and (max-width: 750px) {
    .profile-card {
        flex-flow: column nowrap;
        height: 1000px;
        align-items: flex-end;
    }
    .profile-img {
        position: absolute;
        top: 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: contain;
        background-color: black;
    }
}