.analytics-page {
    margin-top: 10vh;
}

.title-section {
    height: 15vh;
    border-bottom: 1px black solid;
}

#analytics-post-1,
#analytics-post-2,
#analytics-post-3 {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.analytics-post {
    box-shadow: 2px 2px black !important;
}

.subtitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.pie {
    position: relative;
    display: inline-block;
    width: 33vw;
    height: 30vh;
}

.pies {
    width: 100vw;
    height: 40vh;
}

canvas {
    background-color: white;
}

.bars {
    display: inline-block;
    width: 33vw;
    height: 50vh;
}

#bars {
    width: 100vw;
    height: 50vh;
}

@media screen and (max-width: 900px) {
    #pies {
        height: auto;
    }
    .pie {
        display: block;
        width: 50vw;
        height: 17vh;
        margin: 0 auto;
        margin-bottom: 17vh;
    }
    #bars .bars {
        display: block;
        width: 50vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    #pies {
        height: auto;
    }
    .pie {
        display: block;
        width: 75vw;
        height: 17vh;
        margin: 0 auto;
        margin-bottom: 17vh;
    }
    #bars .bars {
        display: block;
        width: 75vw;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}