.analitics {
    border: 1px solid black;
    display: inline;
    background-color: white;
}

.right {
    float: right;
    /* height: 300px; */
    max-height: 500px;
    border-radius: 10px 0 0 10px;
    background-color: white;
    box-shadow: -1px 1px black;
}

.right:hover {
    box-shadow: -2px 1px black;
}

.aside-analitics {
    position: relative;
    margin-top: 10px;
    width: 17%;
    right: 0;
    padding-left: 10px;
    height: 1200px;
}

.chartjs-aside-wrapper {
    width: 100%;
    height: 500px;
}


/* canvas #canvas-1 {
    width: 400px;
    height: 33vh;
}

canvas #canvas-2 {
    width: inherit;
    height: 400px;
}

canvas #canvas-3 {
    width: inherit;
    height: 400px;
} */